{% extends 'base.html' %}

{% block body %}

<div class="container">
    <form action="/update/{{notedata.sno}}" method="post">
        <h1>Update Your Note</h1>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{notedata.title}}" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <input type="text" class="form-control" value="{{notedata.description}}"  id="desc" name="desc">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>

{% endblock body %}